@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --main-color: rgb(239, 174, 171);
  --accent-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(90, 82, 82);
  line-height: 30px;
  font-size: 20px;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 5px;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: var(--main-color);
  font-family: "Marck Script", cursive;
  line-height: 45px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 30px;
}

/* //////  START HEADER STYLES /////// */
header {
  display: block;
  padding: 10px 25px 10px 25px;
  background-image: url("../img/background2.png");
}
.header-container-info {
  display: none;
}
.logo {
  z-index: 5;
}

/* ///////  START STYLES MENU FOR BURGER  //////// */

.main-menu {
  margin: 0 auto;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 480px;
  background-color: var(--accent-color);
  transition: all 0.3s ease 0s;
  z-index: 3;
  border-radius: 10px;
}
.main-menu.active {
  top: 0;
}

.menu-items {
  list-style-type: none;
  text-align: center;
  margin: 30px 0 20px 0;
}
.menu-items a {
  text-decoration: none;
  color: inherit;
}
.menu-items li {
  margin: 10px 0 10px 0;
}
.menu-items a:hover {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.burger {
  display: block;
  position: absolute;
  width: 40px;
  height: 25px;
  margin: 30px 0 0 15px;
  cursor: pointer;
  z-index: 15;
}
.burger::before,
.burger::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.burger::after:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.burger::before:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.burger span {
  position: absolute;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: 11px;
  transition: all 0.3s ease 0s;
}
.burger.active::before {
  transform: rotate(45deg);
  top: 10px;
  z-index: 10;
}
.burger.active::after {
  transform: rotate(-45deg);
  bottom: 12px;
  z-index: 10;
}
.burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
}
.phone-burger {
  display: block;
  width: 170px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  margin-left: 50px;
  z-index: 10;
  margin: 40px auto 0;
  font-size: 18px;
}
.logo-burger {
  display: block;
  width: 100px;
  margin: 0 auto;
}
.hide {
  display: none;
}
/* ////////  STYLES FOR BANNER AREA  //////// */

.banner-img {
  display: block;
  margin: 30px auto 0;
  width: 85%;
  min-width: 300px;
}
.container-banner {
  min-width: 310px;
}
.header-contacts p {
  margin: 0;
}
.header-contacts {
  padding: 35px 12px 0 0;
}
.header-contacts a,
.banner a {
  text-decoration: none;
  color: inherit;
}

.header-contacts p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.banner h1 {
  margin-top: 100px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 60px;
  font-size: 70px;
  letter-spacing: -1.5px;
  font-weight: 500;
}
.banner-text {
  text-align: center;
  font-weight: 400;
}
.btn-banner-trial-lesson {
  display: block;
  margin: auto;
  width: 185px;
  height: 35px;
  border-radius: 34px;
  border: 1px solid var(--main-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: 60px;
  padding-top: 7px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 18px;
}
.btn-banner-trial-lesson:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-banner-trial-lesson:hover,
.btn-modal-cont-form:hover,
.btn-directions:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
}
.btn-banner-trial-lesson:active,
.btn-modal-cont-form:active,
.btn-directions:active {
  background-color: var(--accent-color);
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

@media (min-width: 815px) {
  /* ////// MENU STYLES ////// */
  header {
    padding: 10px 0 15px 0;
  }
  .header-container-info {
    display: flex;
    justify-content: space-between;
  }
  .burger {
    display: none;
  }
  .main-menu {
    position: static;
    display: block;
    top: 50px;
    width: 100%;
    height: 45px;
    background-color: transparent;
  }
  header nav .menu-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 50px 75px 10px 75px;
    font-size: 18px;
  }
  /* ///// BANNER AREA STYLES ///// */
  .container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-banner-img {
    margin: 0 15px 0 50px;
  }
}

/* ////// START STUDIO DIRECTIONS SECTION STYLES /////// */

.studio-directions h2 {
  text-align: center;
  margin: 40px 0 40px 0;
}
.studio-directions {
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 5px;
}
.container-directions-img {
  min-height: 150px;
  margin: 20px 0 0 0;
}
.img-directions {
  box-shadow: 10px -10px 1px 0 #fcd8d6;
}

.container-directions-img .img-directions {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dance,
.yoga,
.stretching,
.wedding-dance {
  display: flex;
  flex-flow: column;
  padding: 10px;
}

.studio-directions p {
  padding: 10px;
}
.btn-directions {
  width: 200px;
  height: 40px;
  color: var(--accent-color);
  background-color: var(--main-color);
  border-radius: 34px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.btn-directions:hover {
  color: var(--main-color);
  background-color: var(--accent-color);
  border: 1px solid var(--main-color);
}
.btn-directions:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.container-directions-items h3 {
  margin-top: 10px;
  color: #5a5252;
}

@media (min-width: 768px) {
  .dance,
  .yoga,
  .stretching,
  .wedding-dance {
    flex-wrap: nowrap;
    flex-flow: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .container-directions-items {
    margin: 0 0 0 40px;
    padding: 0 10px 0 10px;
  }
  .container-directions-img {
    flex-basis: 700px;
    min-width: 360px;
  }
  .container-directions-items h3 {
    margin: 5px;
  }
  .studio-directions p {
    padding: 10px;
  }
}
/* ////// START ADVANTAGES SECTION STYLES /////// */

.advantages {
  background-image: url("../img/belly-dance_adventag.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;
}
.container-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding-top: 20px;
}
.advantages-item {
  width: 90%;
  background-color: var(--accent-color);
  margin: 15px;
  padding: 20px;
  margin-bottom: 50px;
}
.advantages-item h2 {
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  text-align: center;
  margin: 40px 0 40px 0;
}
.advantages-item ul {
  list-style: none;
  margin: 7px;
}
.advantages-item ul li {
  margin: 7px;
}

.advantages-item ul li::before {
  content: "\2600";
  border-color: var(--main-color);
  color: var(--main-color);
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: 1em;
}

@media (min-width: 768px) {
  .container-advantages {
    justify-content: flex-end;
    align-items: center;
    flex-flow: row;
    padding-top: 60px;
  }
  .advantages-item {
    width: 50%;
    min-height: 120px;
  }
  .advantages-item ul li {
    margin: 15px;
  }
}

/* ////// START CAROUSEL SECTION STYLES /////// */
.container-galery h2 {
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  text-align: center;
  margin: 40px 0 40px 0px;
}
.container-galery p {
  text-align: center;
  margin-bottom: 20px;
}
.container-galery a {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}
.container-galery-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.container-galery-img img {
  width: 87%;
}
.container-galery-img i {
  border: 1px solid var(--main-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin: 1px;
  width: 9px;
  height: 9px;
  opacity: 0.7;
}
.container-galery-img p {
  cursor: pointer;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
@media (min-width: 768px) {
  .container-galery-img i {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
}

/* ////// START SCHEDULE SECTION STYLES /////// */
.schedule {
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.schedule h2 {
  text-align: center;
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  margin: 40px 0 40px 0;
}

.container-schedule-items {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.schedule-item {
  background: var(--accent-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  margin: 10px;
  min-width: 250px;
  min-height: 300px;
}
.container-schedule-items h3 {
  text-align: center;
  color: var(--main-color);
}
.container-schedule-items td {
  padding: 6px 7px 6px 10px;
}
table {
  margin: 0 auto;
  line-height: 18px;
}
hr {
  border: 1px solid rgb(90, 82, 82);
}
td,
th {
  padding: 50px;
}
.schedule-item td i {
  font-size: 14px;
}

@media (min-width: 650px) {
  .container-schedule-items {
    flex-flow: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
}

/* ////// START SECTION ABOUT US STYLES /////// */
.about-us {
  background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px 0 20px 0;
}
.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.about-img {
  width: 50%;
  min-width: 225px;
  display: block;
  margin: 0 auto;
  box-shadow: 15px -15px 1px 0 #fcd8d6;
}
.container-about-info {
  max-width: 500px;
  margin: 15px;
}
.container-about-info h2 {
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  text-align: center;
  line-height: 45px;
  margin: 40px 0 40px 0;
}
.container-about-info p {
  padding: 10px;
}
.container-about-info span {
  color: var(--main-color);
  font-weight: bold;
}
.container-about-info i {
  color: #5a5252;
}

@media (min-width: 800px) {
  .about-us-container {
    justify-content: space-between;
    flex-flow: row;
    padding: 30px 5px 15px 0;
    margin-top: 20px;
    padding-bottom: 40px;
  }
  .container-about-info {
    max-width: 700px;
    margin-left: 50px;
  }
  .about-img {
    min-width: 100%;
    min-width: 450px;
  }
}

/* ////// START SECTION OUR TEAM STYLES /////// */

.our-team {
  background-image: url("../img/background3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.our-team h2 {
  font-family: "Marck Script", cursive;
  color: var(--main-color);
  text-align: center;
  margin: 40px 0 40px 0;
}
.trainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 5px;
}
.container-trainer-img {
  margin: 15px;
}
.img-trainer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.container-trainer-info h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500px;
  margin: 10px 0 10px 0;
}
.container-trainer-info p:nth-child(2) {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 10px;
}
.container-trainer-info {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .trainer {
    margin: 0 auto;
    width: 80%;
    flex-flow: row;
    justify-content: center;
  }
  .img-trainer {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  .container-trainer-info,
  .container-trainer-info p:nth-child(2),
  .container-trainer-info h3 {
    text-align: left;
  }
  .media-reverse-to-right {
    flex-direction: row-reverse;
  }
  .media-reverse-to-right > .container-trainer-info,
  .media-reverse-to-right > .container-trainer-info p:nth-child(2),
  .media-reverse-to-right > .container-trainer-info h3 {
    text-align: right;
  }
}

/* /////////////////////// SECTION TESTIMONIALS //////////////////// */

.testimonials {
  background-image: url("../img/testimonials-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials h2 {
  color: var(--accent-color);
  margin: 40px 0 40px 0;
  text-align: center;
}

.container-testim-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.testimonials-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 87%;
  min-height: 270px;
  background-color: var(--accent-color);
  margin: 10px;
  padding: 15px 20px 15px 20px;
}
.testimonials-block p {
  text-align: center;
  margin-top: 15px;
}
.testimonials-block p:first-child {
  font-style: italic;
}
.testimonials-block p:last-child {
  margin-top: 20px;
  /* font-size: 20px; */
}
.link-testimon {
  display: block;
  margin: 30px auto 30px;
  text-decoration: none;
  cursor: pointer;
  width: 220px;
  height: 35px;
  background-color: var(--accent-color);
  color: var(--main-color);
  border-radius: 34px;
  border: 1px solid var(--main-color);
  text-align: center;
  padding-top: 7px;
  padding-bottom: 2px;
}
.link-testimon:hover {
  color: var(--accent-color);
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
}
.link-testimon:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@media (min-width: 650px) {
  .container-testim-block {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .testimonials-block {
    width: 40%;
  }
}
@media (min-width: 800px) {
  .testimonials-block {
    max-width: 27%;
    min-height: 350px;
  }
  .container-testim-block {
    flex-flow: row;
    flex-wrap: wrap;
  }
}
/* ////// START SECTION TRIAL FORM STYLES /////// */

.trial-form {
  background-image: url("../img/background-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-trial-lesson {
  margin: 25px;
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  max-width: 400px;
  min-height: 430px;
}
.form-trial-lesson h2 {
  text-align: center;
  margin: 40px 0 40px 0;
}
.form-trial-lesson p {
  text-align: center;
  margin: 10px 25px 20px 25px;
}
.form-trial-lesson input,
.btn-submit {
  min-width: 250px;
  height: 40px;
  background-color: rgba(90, 82, 82, 0.12);
  border: none;
  border-radius: 34px;
  margin: 10px;
  padding-left: 15px;
}
#btn-form {
  background-color: var(--accent-color);
  text-align: center;
  margin-top: 25px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 16px;
}

#btn-form:hover {
  color: var(--accent-color);
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
}

.btn-banner-trial-lesson:focus,
input:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  .container-form {
    align-items: center;
    justify-content: center;
  }
}

/* ////// START FOOTER STYLES /////// */
footer h2 {
  text-align: center;
  margin: 40px 0 40px 0;
  font-family: "Marck Script", cursive;
}
iframe {
  display: block;
  border: 10px solid #fcd8d6;
  max-width: 550px;
  min-height: 350px;
  margin: 15px;
  flex: 2;
}
.container-map-contacts {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.container-contacts {
  text-align: left;
  padding: 20px;
}
.container-contacts a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.container-contacts a:hover,
.header-contacts a:hover {
  color: var(--main-color);
}

.container-contacts span {
  padding: 0;
  font-family: "Marck Script", cursive;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 60px;
}
.container-contacts h4 {
  margin: 15px 0 0 0;
  padding: 0;
  color: var(--main-color);
}
.container-footer-logo img {
  display: block;
  margin: 0 auto;
}
.container-footer-logo p,
.container-footer-social-networks p {
  text-align: center;
}
.container-footer-social-networks p {
  margin-top: 20px;
}
.social-icons img {
  width: 30px;
  height: 30px;
  color: #efaeab;
  margin: 5px;
}
.container-footer-social-networks ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin-top: 15px;
}
.arrow-bottom {
  width: 50px;
  height: 50px;
  position: fixed;
  left: 85%;
  bottom: 3%;
  cursor: pointer;
  border-radius: 50%;
  transition: 1s;
  visibility: hidden;
}
.arrow-bottom:hover {
  box-shadow: 0 0 5px 3px var(--main-color);
}
.arrow-bottom:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.active-arrow-up {
  visibility: visible;
}
@media (min-width: 768px) {
  .container-map-contacts {
    flex-flow: row;
    align-items: center;
  }
  .arrow-bottom {
    width: 55px;
    height: 55px;
    position: fixed;
    left: 92%;
    bottom: 5%;
  }
}
/* /////////////////   MODAL CONTACT FORM  STYLE /////////////////// */
.modal-cont-form {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.modal-cont-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #fefefe;
  padding: 15px 5px 15px 5px;
  border: 5px solid #fcd8d6;
  width: 80%;
  height: 200px;
}
.modal-cont-form p:first-child {
  text-align: center;
  font-family: "Marck Script", cursive;
  font-size: 25px;
  color: var(--main-color);
  margin: 10px;
}
.modal-cont-form p:nth-child(2) {
  text-align: center;
  margin: 10px;
}
.btn-modal-cont-form {
  margin: 20px;
  width: 100px;
  height: 50px;
  border-radius: 34px;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: var(--accent-color);
  text-align: center;
  margin-top: 25px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn-modal-cont-form:hover {
  color: var(--accent-color);
  background-color: var(--main-color);
  border: 1px solid var(--accent-color);
}
.btn-modal-cont-form:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 500px) {
  .modal-cont-form-content {
    width: 60%;
  }
}
@media (min-width: 700px) {
  .modal-cont-form-content {
    width: 40%;
  }
}
